body {
    padding-top: 70px;
}

.prediction {
    margin: 3px auto;
    background: #727fb5;
    height: 120px;
    width: 120px;
}

.predictions {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.graph {
    width: 800px;
    height: 350px;
    /*background: #222;*/
}

.line {
    stroke: steelblue;
    fill: none;
    stroke-width: 2px;
    /*shape-rendering: auto;*/
}

.content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.controls {
    width: 80%;
}

.container {
    width: 100%
}

.container-main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.Aligner-item--top {
    align-self: flex-start;
}

.navbar {
    align-self: flex-start;

    background: #222;
    color: #fafafa;
    position: fixed;
    top: 0;
    height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 100
}

.main {
    width: 655px;
    margin: auto;
}